<div id="view-tasks-popup" class="todo-action" data-bind="fadeVisible: isVisible()">
    <div class="tasks">
        <div class="task-list">
            <div class="tasks-to-do">
                <h3><span data-bind="text: 'To dos'"></span><span data-bind="text: '( ' + pendingTasks().length + ' )'"></span></h3>
                <ul data-bind="foreach: pendingTasks">
                    <li render="$parent.taskListTemplate"></li>
                </ul>
                <if args="!pendingTasks().length">
                    <div class="message success">
                        <span data-bind="text: 'There are no tasks in list.'"></span>
                    </div>
                </if>
                <if args="pendingTasks().length || completedTasks().length">
                    <div class="completed-tasks-wrapper">
                        <h3><span data-bind="text: 'Completed tasks'"></span><span data-bind="text: '( ' + completedTasks().length + ' )'"></span></h3>
                        <div class="completed-tasks" data-bind="fadeVisible: completedTasks().length">
                            <ul data-bind="foreach: completedTasks">
                                <li render="$parent.taskListTemplate"></li>
                            </ul>
                        </div>
                        <div class="message info" data-bind="fadeVisible: !completedTasks().length">
                            <span data-bind="text: 'There are no completed tasks in list so far.'"></span>
                        </div>
                    </div>
                </if>
            </div>
        </div>
    </div>
</div>
