<label>
    <input data-bind="attr: {
                        type: 'checkbox',
                        value: 'task-' + id
                     }, checked: status, click: $parent.updateStatus" />
    <span data-bind="text: title"></span>
</label>
<a class="action edit"
   data-bind="attr: { href: 'javascript:void(0)' }, click: $parent.edit"><span data-bind="i18n: 'Edit'"></span></a>
<a class="action delete"
   data-bind="attr: { href: 'javascript:void(0)' }, click: $parent.delete"><span data-bind="i18n: 'Delete'"></span></a>
